:root {
  --toastify-icon-color-success:hsl(81, 49%, 49%) ;
  --ent-green: hsl(81, 49%, 49%);
  --ent-dark-green: hsl(121, 40%, 44%);
  --ent-blue: #295f82;
  --ent-orange: #e77925;
  --ent-yellow: #f6d710;
  --ent-purple: #674677;
  --ent-red: #cf202f;
  --ent-light-gray: #b3b4b2
  --ent-dark-gray: #5d6771;

  --ent-light-blue: #00b0d0;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}
.App {
  text-align: center;
}
img.header-logo {
  width: clamp(80px, 20vw, 160px);
}
.login2 {
  font-size: 22px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.italic {
  font-style: italic;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.associateUserAndGroups, .createChangeNotice,   .createNewGroup, .createNewUser, .mocPage {
  margin: 10px;
}

h2{
  color: var(--ent-green) !important;
}
.header {
  height: 75px !important;
}
.arrow {
  position:absolute;
  width: 73vw;
  left:25vw;
  top:0px;
  height: 70px !important;
  opacity: .8;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-primary {
  margin-top:10px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-primary {
  background-color: var(--ent-blue) !important; /* New color */
  border-color:var(--ent-blue) !important; /* Adjust if needed */
}
.form-label {
  color: var(--ent-blue) !important;
}
label {
  margin-bottom: 2px !important;
  margin-left: 0px;
}
.form-control {
  margin-bottom: 5px !important;
  margin-left:0px !important;
  width: 99% !important;
}
.row {
  --bs-gutter-x:unset !important;
}
.ent-icon {
  color: var(--ent-blue) !important;

}

.home-icon {
  margin-left: 10px;
  cursor: pointer;
}
.ent-mini-icon {
  color: var(--ent-blue) !important;
  font-size: 1.3em !important;
  margin-left: 5px;
  vertical-align: text-bottom;
  cursor: pointer;
}
.ReactModal__Content {
  background-color: rgba(200, 200, 200, .85) !important;
  width: 300px !important;
  height: 300px !important;
  border-radius: 10px !important;
  border: 1px solid var(--ent-blue) !important;
  z-index: 1000 !important;
  top: 50% !important;;
  left: 50% !important;;
  transform: translate(-50%, -50%) !important;;
}
.iconContainer {
  display: inline-block;
  margin-right: 0px !important;
  text-align: center;
  cursor: pointer;
  color:var(--ent-blue);
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; ;
  padding: 15px;
  background-color: #f8f9fa;
}
.scrollableContainer {
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  margin-top: 10px;

}
.ent-home-button{
  padding:10px;
}