:root {
  --ent-green: #7db233;
  --ent-blue: #005D83;
  --ent-orange: #C24D00;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}
.App {
  text-align: center;
}
.login2 {
  font-size: 22px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.italic {
  font-style: italic;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.associateUserAndGroups, .createChangeNotice,   .createNewGroup, .createNewUser, .mocPage {
  margin-top:50px;
  margin-left: 20px;
}

h2{
  color: var(--ent-green) !important;
}
.header {
  height: 75px !important;
}
.arrow {
  position:absolute;
  width: 73vw;
  left:25vw;
  top:0px;
  height: 70px !important;
  opacity: .8;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-primary {
  margin-top:10px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-primary {
  background-color: var(--ent-blue) !important; /* New color */
  border-color:var(--ent-blue) !important; /* Adjust if needed */
}
.form-label {
  color: var(--ent-blue) !important;
}
label {
  margin-bottom: 2px !important;
  margin-left: 0px;
}
.form-control {
  margin-bottom: 5px !important;
  margin-left:0px !important;
  width: 99% !important;
}
