.test {
    color: blue;
}

.mocManager{
    font-size: clamp(22px, 3vw, 44px);
    white-space: nowrap;
    font-weight: bold;
    color:var(--bs-primary);
    z-index: 1 ;
    line-height: min(20px, 3vw);
    top: 0px;
}
.login{
    color:white;
    font-weight:600
}
.manageYourChange{
    font-size: 14px;
    font-weight: bold;  
    font-style: italic; 
    color: var(--bs-success);
    top: 40px;
    margin-top:10px;
}

.box {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
    margin:10px;
}
header {
    background: linear-gradient(90deg, #fff 30%, #83b637);
    border-bottom: 1px solid black;
}
a {
    text-decoration: none !important;
    color: inherit !important;
    cursor: pointer !important;
}
.outlinedText {
    color: #fff; /* Text color */
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Outline effect */
}
.green {
    background-color: #83b637;
    color: white;
}
.bg-success {
    background-color: "pink";
    color: white;
}
.blue {
    background-color: blue;
    color:white;
}

.orange {
    background-color: orange;
}
